

.nav-pills .nav-item .gallery-link{
    border:  1px solid #009900;
    font-weight: bold;
}

.image-gallery-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow:wrap;
}
.image-gallery-flex-container .flex-item{
    padding: 10px;
}
